<div class="continer">
  <p>What do you want to do next?</p>
  <ul>
    <li><a href="/cookbook">List all recipes</a></li>
    <!-- <li><a href="/new">Create a new recipe</a></li> -->
    <li><a href="/search">Import recipes from LetsCookFrench</a></li>
  </ul>
</div>
